
main {
    display: flex;
    padding: 0px 40px 20px 0px;
    background-color: #000;
}
.filter {
    width: 300px;
    background-color: #000;
    padding: 20px;
    margin-right: 20px;
}
.filter h3, .filter h4 {
    margin: 30px 0;
    color: aliceblue;
}
.filter label {
    display: block;
    margin: 5px 0;
    color: aliceblue;
}
.artwork {
    flex-grow: 1;
    padding-left: 40px;
}
.artwork h2 {
    padding-bottom: 60px;
    padding-top: 30px;
    color: aliceblue;
}
.grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
}
.item {
    text-align: center;
}
.item img {
    max-width: 300px;
    height: 300px;
    object-fit: cover;
}

.item img:hover {
    transform: scale(1.02);
    cursor: pointer;
}
.item p {
    margin-top: 10px;
}

.popup {
    display: flex;
    position: fixed;  
    left: 50%;
    top: 0%;
    transform: translateX(-50%);
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.95);
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 999;
    overflow-y: auto;
    border-radius: 10px;
}

.popup-content {
    display: flex;
    flex-direction: row;
    max-width: 70%;
    background: #111;
    padding: 40px;
    border-radius: 10px;
    text-align: left;
    position: relative;
    color: white;
    gap: 20px;
}

.popup img {
    max-width: 40%;
    height: auto;
    border-radius: 5px;
}

.modal-info {
    padding-left: 30px;
    flex: 1;
    line-height: 1.8;
}

.modal-info hr {
    width: 300px;
    margin-left: 0px;
}

.close {
    position: absolute;
    top: 15px;
    right: 20px;
    font-size: 40px;
    color: white;
    cursor: pointer;
}

.btn {
    background-color: white;
    color: black;
    border: none;
    padding: 15px 20px;
    margin-top: 15px;
    cursor: pointer;
    font-size: 1rem;
}

.btn:hover {
    background-color: grey;
}

@media (max-width: 768px) {
    .popup-content {
        flex-direction: column;
        max-width: 95%;
        text-align: center;
        padding: 20px;
    }

    .popup img {
        max-width: 80%;
    }

    .modal-info {
        padding-left: 0;
        margin-top: 20px;
    }
}